/* ./resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#menu-toggle:checked + #menu {
    display: block;
}

.radio-plan:checked + label{
    @apply border-indigo-600;
}

#switch-plans-modal{
    display:none;
}

#switch-plans{
    width:500px;
    height:auto;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-200px;
}
